.a-c-header-email-input
{
    .form-control-lg
    {
        text-align: center;
        width: 100%;
        padding: 2rem 1.25rem;
        font-size: 3vh;
        line-height: 1.333333;
        box-sizing: border-box;
    }
}
