body
{
    &.modal-open
    {
        overflow: hidden !important;
    }
}

.a-c-home-page
{
    .a-c-header
    {
        margin-bottom: .9375rem;
    }

    .content_--_
    {
        padding-top: 86px;
    }
}
