.a-c-list-item
{
  .full-width
  {
    width: 100%;
  }

  .schedule-btn-section
  {
    button
    {
      width: 50%;
      margin: 0;
    }
  }

  .touch-smore
  {
    opacity: 0;
    transition: opacity .3s ease-in-out;
    visibility: hidden;

    &.true
    {
      opacity: 1;
      visibility: visible;
    }
  }
}
