.a-c-list-item
{
  .full-width
  {
    width: 100%;
  }

  .schedule-btn-section
  {
    button
    {
      width: 50%;
      margin: 0;
    }
  }

  .touch-smore
  {
    opacity: 0;
    transition: opacity .3s ease-in-out;
    visibility: hidden;
    cursor: pointer;

    &.true
    {
      opacity: 1;
      visibility: visible;
    }

    b
    {
      color: #adabab;

      &:hover
      {
        color: #000
      }
    }
  }


  .alert
  {
    position: absolute;
    width: 100%;
    top: 0;
  }
}
