.a-c-schedule-section
{
    .touch-smore
    {
        opacity: 0;
        transition: opacity .3s ease-in-out;
        visibility: hidden;

        &.true
        {
            opacity: 1;
            visibility: visible;
        }
    }
}