.a-c-schedule-modal
{
  .modal-body
  {
    overflow: hidden;
    padding: 0;

    .item-content
    {
      overflow: hidden;
      width: 200%;
      max-height: 50vh;
      display: inline-flex;

      .item
      {
        &:first-child
        {
          overflow-y: scroll;
        }

        display: inline-block;
        vertical-align: top;
        width: 100%;
        transition: transform .4s ease;
      }

      &.shown-edit
      {
        .item
        {
          transform: translateX(-100%);
        }
      }
    }
  }
}